<main class="content">
  <article>
    <div class="post_info">
      <h1 class="page-title">{{ page.title }}</h1>

      <h2 class="meta">{{ page.author | default: site.author }}</h3>

      <h3 class="meta">{{ page.date | date: '%B %d, %Y' }} | 
        {% if page.minute_read_override %}
          {{ page.minute_read_override }} Minute Read 
        {% else %}
          {{ page.content | markdownify | strip_code_blocks | number_of_words | divided_by:200 | ceil }} Minute Read
        {% endif %}
      </h3>

      {% if page.updated %}
      <h4 class="sub-meta">Updated on {{ page.updated | date: '%B %d, %Y' }}</h4>
      {% endif %}  

      {% if page.image %}
      <div class="featuredImage">
        <img src="{{ page.image.path }}" alt="{{ page.alt }}" />
      </div>
      {% endif %}

      <div class="line-separator"></div>

    </div>

    {{ content | markdownify }}

  </article>
</main>
