@use "_config";

/***************
FOOTER STYLING
***************/
footer {
	padding: config.$padding 0;

	//https://stackoverflow.com/a/31732902/1813592
	.flex-list {
		position: relative;
		margin: 1em;
		overflow: hidden;
		border-top: 1px solid config.$light-grey;
	}

	.flex-list ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-left: -1px;
		padding: 0;
	}

	.flex-list li {
		list-style: none;
		flex-grow: 1;
		flex-basis: auto;
		margin: .25em 0;
		padding: 0 1em;
		text-align: center;
		border-left: 1px solid #ccc;
		background-color: config.$white;

		@media (min-width: config.$breakpoint-2) {
			font-size: 110%;
		}
	}

	a {
		text-decoration: none;
	}

	a:hover {
		background: config.$primary-color;
		color: white;
	}


}