@use "_config";

.header-amp {
	background: config.$nav-background;
	margin-bottom: config.$padding;
	padding: config.$padding;
	text-align: center;
	font-size: 1.4em;
	font-weight: normal;

	a,
	a:hover {
		color: config.$white;
		text-decoration: none;
		overflow: visible;
	}
}