$top-color: #bce5ff;
$bottom-color: $top-color;
// $bottom-color: #e5e5e5;


// When closed
details:not([open]) {

    summary {
        // Border on all corners when closed.
        border-radius: $br;
    }
}


details[open] summary {
    &::after {
        transform: rotate(-180deg);
    }

    // Only put border on top when open.
    border-radius: $br $br 0 0;
}

details {
    margin-top: $margin;
    margin-bottom: $margin;

    summary {
        // Fallback
        background-color: $top-color;
        //background-image: linear-gradient(to bottom, $top-color 0%, $bottom-color 100%);
        color: $black;
        padding: $padding;
        
        display: flex;
        justify-content: space-between;
        align-items: center;

        &::after {
            content: '';
            width: 0; 
            height: 0; 
            border-top: 10px solid $black;
            border-inline: 7px solid transparent;
            transition: 0.2s;
        }
    }

    div:first-child {
        border-radius: 0 0 $br $br;
        border: .2em solid $bottom-color;
    }

    pre:first-child {
        margin: 0px;
        border-radius: 0 0 .2em .2em;
    }
}