@use "sass:color";
@use "_config";

/***************
FORM STYLING
***************/

label {
	display: block;
	margin-bottom: 5px;
}

input[type=text],
input[type=email],
textarea {
	background: color.adjust(white, $lightness: -10%);
	padding: .5em;
	outline: none;
	border: none;
	margin-bottom: config.$padding;

	&:focus {
		border: 1px solid config.$primary-color;
	}

	&.full-width {
		box-sizing: border-box;
		width: 100%;
	}
}

textarea {
	height: config.$line-height*3;
}

form {
	margin-bottom: config.$padding;

	// Wrap each form input/element in a field div
	.field {
		margin-bottom: config.$padding;
	}

	// Notes go under the input fields
	.note {
		margin-top: 5px;
		color: config.$dim-grey;
	}

	// Required label
	.req {
		font-style: italic;
	}

	// Validation, add error class to the item div
	.error {

		// Validation reason
		.reason {
			margin-top: 5px;
			color: config.$bad-color;
		}

		input[type=text],
		input[type=email],
		textarea {
			border-color: config.$bad-color;
		}
	}
}